@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: 333;
  font-size: 0.875rem;
  font-family: "Shippori Mincho", serif;
  background-color: #F0F0E9;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
  transition: all 1s;
}

li {
  list-style: none;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #71797C;
  padding: 10px 120px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}
@media screen and (max-width: 880px) {
  #header {
    padding: 10px 40px;
  }
}
#header .logo {
  line-height: 1;
}
#header .logo a {
  display: block;
  width: 50px;
  height: 50px;
}
#header .logo a img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
#header #navi {
  display: flex;
}
@media screen and (max-width: 880px) {
  #header #navi {
    width: 100%;
    height: 80vh;
    flex-direction: column;
    background-color: #71797C;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    padding-block: 100px;
    opacity: 0;
    visibility: hidden;
  }
}
#header #navi li {
  margin-left: 20px;
}
@media screen and (max-width: 880px) {
  #header #navi li {
    margin-left: 0;
    padding-bottom: 20px;
  }
}
#header #navi li a {
  color: #fff;
}

/*-------------------------------------------
hamburger menu
-------------------------------------------*/
.hamburger {
  display: none;
}

@media screen and (max-width: 880px) {
  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 20;
    position: fixed;
    top: 22px;
    right: 40px;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.5s;
  }
  .hamburger span:nth-child(1) {
    top: 4px;
  }
  .hamburger span:nth-child(2) {
    top: 14px;
  }
  .hamburger span:nth-child(3) {
    bottom: 4px;
  }
  .open #navi {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .hamburger span:nth-child(2) {
    opacity: 0;
  }
  .open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
}
/*-------------------------------------------
mainvisual
-------------------------------------------*/
.mainvisual .fade {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  .mainvisual .fade {
    height: 80vh;
  }
}

/*-------------------------------------------
common
-------------------------------------------*/
.sec-title {
  font-size: 4.25rem;
  letter-spacing: 0.25rem;
}
@media screen and (max-width: 880px) {
  .sec-title {
    font-size: 3rem;
  }
}

section {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 120px;
}
@media screen and (max-width: 880px) {
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.wrapper {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

/*-------------------------------------------
concept
-------------------------------------------*/
#concept .sec-title {
  text-align: right;
  margin-bottom: 30px;
}
#concept .wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  #concept .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
#concept .wrapper .concept-img {
  width: 200px;
  height: 300px;
}
#concept .wrapper .concept-img img {
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}
#concept .wrapper .right {
  margin-top: 300px;
}
@media screen and (max-width: 880px) {
  #concept .wrapper .right {
    order: 1;
    margin-top: 50px;
  }
}
#concept .wrapper .item {
  text-align: center;
  margin-top: 150px;
}
@media screen and (max-width: 880px) {
  #concept .wrapper .item {
    order: 2;
    margin-top: 50px;
  }
}
#concept .wrapper .item .text {
  margin-bottom: 50px;
}
#concept .wrapper .item .text .title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 20px;
}
#concept .wrapper .item .text .sentence {
  line-height: 4;
}
#concept .wrapper .item .btn {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
#concept .wrapper .item .btn a {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #98D3CF;
  border: solid 1px #fff;
}
#concept .wrapper .item .btn a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  top: 43px;
  right: 30px;
}
#concept .wrapper .item .btn a::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  top: 50px;
  left: 30px;
}
#concept .wrapper .item .btn a p {
  color: #98D3CF;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
}

/*-------------------------------------------
menu
-------------------------------------------*/
#menu .menu-items {
  display: flex;
}
#menu .menu-items .sec-title {
  writing-mode: vertical-lr;
}
#menu .menu-items .wrapper {
  text-align: center;
  margin-top: 100px;
}
#menu .menu-items .wrapper .flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  #menu .menu-items .wrapper .flex {
    flex-direction: column;
  }
}
#menu .menu-items .wrapper .flex .menu-item {
  text-align: center;
}
@media screen and (max-width: 900px) {
  #menu .menu-items .wrapper .flex .menu-item {
    margin-bottom: 50px;
  }
}
#menu .menu-items .wrapper .flex .menu-item img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media screen and (max-width: 880px) {
  #menu .menu-items .wrapper .flex .menu-item img {
    width: 300px;
    height: 300px;
  }
}
#menu .menu-items .wrapper .flex .menu-item p {
  padding-block: 20px;
}
#menu .menu-items .wrapper .btn {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
#menu .menu-items .wrapper .btn a {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #98D3CF;
  border: solid 1px #fff;
}
#menu .menu-items .wrapper .btn a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  top: 43px;
  right: 30px;
}
#menu .menu-items .wrapper .btn a::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  top: 50px;
  left: 30px;
}
#menu .menu-items .wrapper .btn a p {
  color: #98D3CF;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
}

/*-------------------------------------------
news
-------------------------------------------*/
#news .news-items {
  display: flex;
}
#news .news-items .sec-title {
  writing-mode: vertical-lr;
}
#news .news-items .btn {
  margin-top: 100px;
  text-align: right;
  padding: 0 20px 5px 0;
  position: relative;
}
#news .news-items .btn::before {
  content: "";
  display: inline-block;
  margin: 0 3px 0 8px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #98D3CF;
  position: absolute;
  top: 8px;
  right: 65px;
}
#news .news-items .btn a {
  color: #333;
}
#news .news-items .news-list {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #333;
}
@media screen and (max-width: 880px) {
  #news .news-items .news-list {
    flex-direction: column;
  }
}
#news .news-items .news-list dt {
  width: 30%;
  padding: 40px 0px 40px 40px;
  border-bottom: solid 1px #333;
}
@media screen and (max-width: 880px) {
  #news .news-items .news-list dt {
    width: 100%;
    border-bottom: none;
    padding: 20px 0 5px 20px;
  }
}
#news .news-items .news-list dd {
  width: 70%;
  padding: 40px 0px 40px 40px;
  border-bottom: solid 1px #333;
}
@media screen and (max-width: 880px) {
  #news .news-items .news-list dd {
    width: 100%;
    padding: 5px 0 20px 20px;
  }
}

/*-------------------------------------------
access
-------------------------------------------*/
#access {
  margin-bottom: 120px;
}
#access .access-items {
  display: flex;
}
#access .access-items .sec-title {
  writing-mode: vertical-lr;
}
#access .access-items .map {
  margin-top: 100px;
}
#access .access-items .map iframe {
  width: 100%;
  filter: grayscale(100%);
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  width: 100%;
  height: 80px;
  background-color: #71797C;
  padding: 10px 120px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  上に戻る
  */
  /*
  中の三角
  */
}
@media screen and (max-width: 900px) {
  #footer {
    padding: 10px 40px;
  }
}
#footer .logo {
  line-height: 1;
}
#footer .logo a {
  display: block;
  width: 50px;
  height: 50px;
}
#footer .logo a img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
#footer .copy-right {
  color: #fff;
  font-size: 0.75rem;
}
#footer .to-top {
  width: 50px;
  height: 50px;
  background-color: #98D3CF;
  border: solid 1px #fff;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 25px;
}
@media screen and (max-width: 880px) {
  #footer .to-top {
    width: 30px;
    height: 30px;
    right: 5px;
  }
}
#footer .to-top::after {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: relative;
  left: 17px;
}
@media screen and (max-width: 880px) {
  #footer .to-top::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: relative;
    left: 9px;
    bottom: 10px;
  }
}

/*-------------------------------------------
concept page
-------------------------------------------*/
#concept-page {
  text-align: center;
}
#concept-page .grid {
  padding-block: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  #concept-page .grid {
    padding-top: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#concept-page .grid .img-left {
  margin-top: 200px;
}
@media screen and (max-width: 880px) {
  #concept-page .grid .img-left {
    margin-top: 50px;
  }
}
#concept-page .grid .img-mid {
  margin-top: 100px;
}
@media screen and (max-width: 880px) {
  #concept-page .grid .img-mid {
    margin-top: 50px;
  }
}
@media screen and (max-width: 880px) {
  #concept-page .grid .img-right {
    margin-top: 50px;
  }
  #concept-page .grid .img-right:first {
    order: -1;
  }
}
#concept-page .grid .img-left, #concept-page .grid .img-mid, #concept-page .grid .img-right {
  width: 33%;
  height: 250px;
}
@media screen and (max-width: 880px) {
  #concept-page .grid .img-left, #concept-page .grid .img-mid, #concept-page .grid .img-right {
    width: 250px;
    height: 200px;
  }
}
#concept-page .grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#concept-page .grid .text {
  width: 33%;
  margin-top: 100px;
}
@media screen and (max-width: 880px) {
  #concept-page .grid .text {
    margin-top: 50px;
  }
}
#concept-page .grid .text .title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 50px;
}
@media screen and (max-width: 880px) {
  #concept-page .grid .text .title {
    margin-bottom: 20px;
  }
}
#concept-page .grid .text .sentence {
  line-height: 4;
}

/*-------------------------------------------
menu page
-------------------------------------------*/
#menu-page .sec-title {
  text-align: center;
}
#menu-page .menu-title {
  padding-top: 100px;
  margin-bottom: 10px;
  font-size: 1.25rem;
}
@media screen and (max-width: 880px) {
  #menu-page .menu-title {
    padding-top: 50px;
  }
}
#menu-page .menu-title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #98D3CF;
  display: block;
}
#menu-page .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 880px) {
  #menu-page .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
#menu-page .items:last-child {
  margin-bottom: 100px;
}
@media screen and (max-width: 880px) {
  #menu-page .items:last-child {
    margin-bottom: 50px;
  }
}
#menu-page .items .item .img {
  padding-bottom: 5px;
}
#menu-page .items .item .img img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-------------------------------------------
news page
-------------------------------------------*/
#news-page .sec-title {
  text-align: center;
}
#news-page .news-list {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #333;
  margin-block: 100px;
}
@media screen and (max-width: 880px) {
  #news-page .news-list {
    flex-direction: column;
    margin-block: 50px;
  }
}
#news-page .news-list dt {
  width: 30%;
  padding: 40px 0px 40px 40px;
  border-bottom: solid 1px #333;
}
@media screen and (max-width: 880px) {
  #news-page .news-list dt {
    width: 100%;
    border-bottom: none;
    padding: 20px 0 5px 20px;
  }
}
#news-page .news-list dd {
  width: 70%;
  padding: 40px 0px 40px 40px;
  border-bottom: solid 1px #333;
}
@media screen and (max-width: 880px) {
  #news-page .news-list dd {
    width: 100%;
    padding: 5px 0 20px 20px;
  }
}

/*-------------------------------------------
access page
-------------------------------------------*/
#access-page .sec-title {
  text-align: center;
}
#access-page .map {
  margin-top: 100px;
}
@media screen and (max-width: 880px) {
  #access-page .map {
    margin-top: 50px;
  }
}
#access-page .map iframe {
  width: 100%;
  filter: grayscale(100%);
}
#access-page .info {
  margin-top: 50px;
  margin-bottom: 100px;
  padding-inline: 180px;
  display: flex;
}
@media screen and (max-width: 880px) {
  #access-page .info {
    flex-direction: column;
    padding-inline: 0;
    margin-bottom: 50px;
  }
}
#access-page .info .info-item {
  border-left: solid 2px #98D3CF;
  padding: 10px 0 10px 10px;
  width: 50%;
}
@media screen and (max-width: 880px) {
  #access-page .info .info-item {
    width: 100%;
  }
}
#access-page .info .info-item dt {
  font-weight: bold;
}
#access-page .info .info-item dd {
  margin-bottom: 10px;
}
#access-page .info .info-item dd:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 880px) {
  #access-page .info .right {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */